html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}

#header {

	width:100%;
	height:10%;
}
#logo {
	margin-left: 25%;
	float: left;
	width:48px; 
	height:48px
}
#title {
	margin-left: 10%;
	float: left;
	line-height: 30%;
	text-align:center;
}
#info{
	margin-left: 10%;
	float:left;
}

.container {
	padding-left: 1%;
    height:90%;
}

#webCoder {
    float: left;
    width : 50%;
    height:100%;
}
#codetoolbar{

}
#codeContainer{
	height:68%;
	overflow-y: scroll;
	padding : 2px;
}

#code{


}
.line {
    cursor:move;
    height:2px;
}

#codeLine {
  
}

#buildInfo{ 
	bottom:0px;
	height:19%;
width:98%
}

#terminal{
	float:left;
	bottom:0px;
	height: 100%;
	width: 49%;
}

#output {
  width: 100%;
  height: 70%
}

#usrArea{
	float:left;
	height:20%;
	width:100%
}
#input{
	float:left;
	height:96%;
	width:80%
}
#usrButtons{
	float:left;
	padding-left:1%;
	margin:0 auto;
}

.termCursor {
  background-color: #FFF;
  color: #888;
}

.ui-widget {
        font-size: 10px;
}

.ui-layout-pane { /* all 'panes' */ 
	background: #FFF; 
	border: 1px solid #BBB; 
	overflow: none;
} 
.ui-layout-east {       
        overflow: auto;
        width: 50%;
}
.ui-layout-center {       
        overflow: hidden;
}


.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
} 

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
